body {
    padding-left: 15px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 15pt;
    text-decoration: none;
}

article h2 a{
    text-decoration: none;
    color: #000000;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}


.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
} 
.page-header .top-menu i{
    position: relative;
    top: -57px;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}



/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 6%;
    /* height: 10%; */
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    margin-top: 10px;
    /* padding: 0 18px; */
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
  }