{% extends 'djangogirls/base.html' %}
{% load static %}
{% block content %}
<div class="main-section" style="display: flex; justify-content: space-around;">
    <div class="col-sm-10 card mb-3">
        {% if post.feature_img %}
        <img src="{{post.feature_img.url}}" class="card-img-top" alt="..." style="height: 350px;">
        {% else %}
        <img src="" class="card-img-top" alt="pic">
        {% endif %}
        <div class="card-body">
            <p class="card-text"><small
                    class="text-body-secondary">{{post.published_date}}</small>&ensp;&ensp;&ensp;&ensp;
                <a href="{% url 'post_edit' slug=post.slug %}"><i class="bi bi-pencil-square"></i></a>
            </p>
            {% if post.author.user_profile %}
            <img src="{{post.author.user_profile.url}}" alt="author" style="width: 30px;">
            {% else %}
            <img src="" alt="" style="width: 30px;">
            {% endif %}
            <a  href="/authordetail/?id={{post.author.id}}" style="text-decoration: none; color: gray;"><p class="card-text" >Author : {{post.author.first_name}}</p></a>
            <h5 class="card-title">Title : {{post.title}}</h5>
            <p class="card-text">{{post.text}}</p>
        </div>
    </div>
    <div class="aside-section" style="padding-left: 10px;">
        <div class="category">
            <h5>Category</h5>
            <p>{{post.category.name}}</p>
        </div>
        <div class="tags">
            <h5>Tags</h5>
            {% for tag in post.tags.all %}
            <p>{{tag.name}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- comment section -->

<!-- Comments Form -->
<h2>Add a new comment</h2>
<form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <button type="submit">Add comment</button>
</form>

<!-- Comment with nested comments -->
{% for comment in comments %}
<div class="comment" >
    <p class="info" style="margin: 0px;">{{ comment.name }} | {{ comment.created }}</p>
    {{ comment.body|linebreaks }}

    {% for replay in comment.replies.all %}
    <p class="info" style="margin: 0px 26px;">{{ replay.name }} | {{ replay.created }}</p>
    <li style="list-style-type: none; margin-left: 30px;">{{ replay.body }}</li>
    {% endfor %}


    <button type="button" class="collapsible" style="margin-left: 0px;">Reply</button>
    <div class="content">
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <!-- Hidden input for parent comment.id -->
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <input class="btn btn-primary" type="submit" value="Replay">
            
        </form>
    </div>
</div>
{% empty %}
<h4>There are no comments yet.</h4>
{% endfor %}


<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>

<!-- end comment section -->
{% endblock %}