{% extends 'djangogirls/base.html' %}
{% load static %}
{% block content %}
<article class="post">
    <img src="{{post.image.url}}" alt="pic">
    <p>{{post.author.first_name}}</p>
    <time class="date">
        {{ post.published_date }} &ensp;&ensp;&ensp;&ensp; <a href="{% url 'post_edit' slug=post.slug %}"><i
                class="bi bi-pencil-square"></i></a>
    </time>
    <h2><a href="">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaksbr }}</p>
</article>
<div class="card-body">
    {% for comment in comments %}
        <p>{{comment.name}} : <span>{{comment.body}}</span></p>
    {% endfor %}
    {% if new_comment %}
    <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
    </div>
    {% else %}
    <h3>Leave a comment</h3>
    <form method="post" style="margin-top: 1.3em;">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
    </form>
    {% endif %}
</div>

{% endblock %}